.fondo {
  font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url(../img/fondo2.jpeg);

    
    
   background-size: cover; /* Cubre toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    height: 60vh; /* Asegura que el fondo cubra toda la altura de la ventana */
  }
    

.container {
  
  display: flex;
  gap: 20px;
  text-align: center;
  
}


.item:nth-child(1) {
  width: 500px;
  height: 500px;
  flex-grow:1;
  
}
.delfin {
    width: 800px;
    height: 1000px;
    margin-top: auto auto;
}
.correo {
    background-color: #0ed7fa73;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: comic sans ms;
     
}

.item:nth-child(2) {
  width: 500px;
  height: 500px;
   flex-grow: 1;
   margin-top: 200px;
}
.email{
    background-color: #0ed7fa73;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: comic sans ms;
    
}
 
.item:nth-child(3) {
  width: 500px;
  height: 500px;
  flex-grow: 1;
}
.bordered {
    border: 2px solid rgb(11, 8, 189);
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);    

}

.boton {
    
    background-color: #00867F;
    width: 230px;
    height: 90px;
    border-radius: 40px;
   
    padding: 0px;
    font-size: 60px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.boton-sombra-suave {
  box-shadow: 10px 8px 6px rgba(6, 39, 100, 0.897);
}
.texto {
    font-size: 40px;
    color: white;
    border: #000000;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.login{
   color: white;
    border: #000000;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
}

/* // OPCIONES */
.configuracion{
    font-size: 80px;
    color: white;
    border: #000000;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  text-align: center;
}
.menu{
  display: block;
    font-size: 40px;
    color: white;
    border: #000000;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #c7050596;
    border-radius: 30px;
   
}
.lista{
    font-size: 25px; 
    color: rgb(255, 255, 255);
    border: #000000;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: rgb(15, 113, 179);
    border-radius: 30px;
}
.contenedor-opciones{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 30px;
  justify-content: space-evenly;
}
.jugador{
    display: flex;
    flex-direction: column;
    align-items: center;
}