.fondo {
    background-image: url(../img/fondo2.jpeg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS", cursive, sans-serif;
     /* font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;  */
    
 
    
}
.container {
  display: flex;
  gap: 20px;
  text-align: center;
;
}


.item:nth-child(1) {
  width: 500px;
  height: 500px;
  flex-grow:1;
  
}
.delfin {
    width: 800px;
    height: 1000px;
    margin-top: auto auto;
}
.correo {
    background-color: #0ed7fa73;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: comic sans ms;
     
}

.item:nth-child(2) {
  width: 500px;
  height: 500px;
   flex-grow: 1;
   margin-top: 200px;
}
.email{
    background-color: #0ed7fa73;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: comic sans ms;
    
}
 
.item:nth-child(3) {
  width: 500px;
  height: 500px;
  flex-grow: 1;
}
.bordered {
    border: 2px solid rgb(11, 8, 189);
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);    

}

.boton {
    
    background-color: #00867F;
    width: 230px;
    height: 90px;
    border-radius: 40px;
   
    padding: 0px;
    font-size: 60px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.boton-sombra-suave {
  box-shadow: 10px 8px 6px rgba(6, 39, 100, 0.897);
}
.texto {
    font-size: 40px;
    color: white;
    border: #000000;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.login{
   color: white;
    border: #000000;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
}

